{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
  <div id="message-container">
    {% for message in messages %}
      <div class="alert position-relative {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
        
        {{ message }}
        <button type="button"
                class="position-absolute top-50 end-0 translate-middle-y me-2 border-0 bg-transparent"
                aria-label="Close"
                onclick="this.parentElement.remove()"><i class="bi bi-x-lg"></i>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<section class="content fadein">
  <div class="intro text-center">
    <div class="author-info">{{ post.created_at }}</div>
    <div class="author-info">{{ post.tags.all|join:", " }}</div>
    <h1 class="animated-text">{{ post.title }}</h1>
  </div>
</section>
<img class="fadein wide hero-img" src="{{ post.thumbnail1.url }}">
<section class="content fadein">
  <div class="container-fluid mt-lg">
    <div class="row">
      <div class="col-md-8 offset-2 mx-auto">
        {{ post.content|safe }}
      </div>  
    </div>
  </div>
  <div class="container-fluid fadein">
    
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h3>댓글</h3>
        <div class="comments col-md-11">
          {% for comment in comments %}
            <div class="comment">
              <div class="content col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="details">
                      <h4>{{ comment.author }}</h4>
                      <div class="date">{{ comment.created_at }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="message">
                      <p>{{ comment.content }}</p>
                      <div class="mt-2" data-bs-toggle="collapse" data-bs-target="#deleteForm{{ comment.id }}" aria-expanded="false" aria-controls="deleteForm{{ comment.id }}">
                        삭제
                      </div>
                      <div class="collapse mt-2" id="deleteForm{{ comment.id }}">
                        <form method="POST" action="{% url 'delete_comment' %}" class="delete d-flex align-items-center gap-0" style="height: 38px;">
                          {% csrf_token %}
                          <input type="hidden" name="comment_id" value="{{ comment.id }}">
                          <input type="hidden" name="post_id" value="{{ post.id }}">
                          <input class="form-control form-control-sm py-1 px-2" required style="height: 80%; font-size: 0.8rem;" type="email" name="author_email" placeholder="작성자 이메일">
                          <input class="form-control form-control-sm py-1 px-2" required style="height: 80%; font-size: 0.8rem;" type="password" name="pw" placeholder="비밀번호">
                          <button type="submit"
                                  class="form-control form-control-sm py-1 px-2"
                                  style="height: 80%; font-size: 0.8rem; background-color: white; color: black;"
                                  onmouseover="this.style.backgroundColor='black'; this.style.color='white';"
                                  onmouseout="this.style.backgroundColor='white'; this.style.color='black';">
                            댓글 삭제
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="row fadein">
      <div class="col-md-8 mx-auto">
        <h3>댓글 작성</h3>
        <form method="POST" class="form mt-lg" action="{% url 'create_comment' %}">
          {% csrf_token %}
          <label>이름 또는 별명 *</label>
          <input class="form-control" required type="text" name="author">
          <label>이메일 *</label>
          <input class="form-control" required type="email" name="author_email">
          <label>코멘트 *</label>
          <textarea class="form-control" required name="content"></textarea>
          <label>비밀번호 *</label>
          <input class="form-control" required type="password" name="pw">
          <input type="hidden" name="post_id" value="{{ post.id }}">
          <button class="btn btn-default" id="send" type="submit">입력</button><span class="p-md">* 필수항목</span>
        </form>
      </div>
    </div>
  </div>
</section>
<div id="sending-overlay" class="d-none" style="
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
">
  
</div>
<script src="{% static 'scripts/contact.js' %}"></script>
{% endblock %}
      